{{> header }}

<main class='container'>
  <nav aria-label='breadcrumb' class='bg-light rounded p-3'>
    <ol class='breadcrumb mb-0'>
      <li class='breadcrumb-item pb-0'><a href='#'>Home</a></li>
      <li class='breadcrumb-item active' aria-current='page'>Library</li>
    </ol>
  </nav>
  <div class='mt-5 mb-5 card bg-light' style='height: 150px'>
    <div class='card-body d-flex justify-content-center align-items-center'>
      <h3>Booking confirmation</h3>
    </div>
  </div>

  <div>
    <table class='table table-hover table-striped'>
      <tbody>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>First name</th>
          <td class='quarter-width align-middle'>Mark</td>
          <th class='quarter-width align-middle'>Last name</th>
          <td class='quarter-width align-middle'>Zuckerberg</td>
        </tr>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>Ticker id</th>
          <td class='quarter-width align-middle'>
            12ab, 12bc, 12cd, 12de, 12ef
          </td>
          <th class='quarter-width align-middle'>Bus operator</th>
          <td class='quarter-width align-middle'>Phương Trang</td>
        </tr>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>Start point</th>
          <td class='quarter-width align-middle'>Miền Nam bus stop</td>
          <th class='quarter-width align-middle'>End point</th>
          <td class='quarter-width align-middle'>Miền Hoa bus stop</td>
        </tr>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>Start time</th>
          <td class='quarter-width align-middle'>
            February 11th, 2022 15:00
          </td>
          <th class='quarter-width align-middle'>End time</th>
          <td class='quarter-width align-middle'>
            February 11th, 2022 20:00
          </td>
        </tr>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>Duration</th>
          <td class='quarter-width align-middle'>5 hours</td>
          <th class='quarter-width align-middle'>Policy</th>
          <td class='quarter-width align-middle'>
            <ul class='none-list-style-type ps-0'>
              <li>
                WHILE ON BOARD
                <ul class='disc-list-style-type'>
                  <li>Holding your ticket</li>
                  <li>Be silent</li>
                </ul>
              </li>
              <li>
                YOUR PACKAGE
                <ul class='disc-list-style-type'>
                  <li>Not over 10kg</li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>Number of seats</th>
          <td class='quarter-width align-middle'>5</td>
          <th class='quarter-width align-middle'>Type of bus</th>
          <td class='quarter-width align-middle'>Vilahouse</td>
        </tr>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>Ticket cost</th>
          <td class='quarter-width align-middle'>50k vnđ</td>
          <th class='quarter-width align-middle'>Total cost</th>
          <td class='quarter-width align-middle'>250k vnđ</td>
        </tr>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>Status</th>
          <td class='quarter-width align-middle'>Booked</td>
          <th class='quarter-width align-middle'>Seat positions</th>
          <td class='quarter-width align-middle'>
            E10, E11, E12, E13, E16
          </td>
        </tr>
      </tbody>
    </table>
    <div class='mt-5 d-flex justify-content-center align-items-center'>
      <button
        type='button'
        class='btn btn-primary py-3 px-4'
        style='margin-right: 300px'
      >
        Back
      </button>
      <button
        type='button'
        class='btn btn-primary py-3 px-4'
        data-bs-toggle='modal'
        data-bs-target='#exampleModal'
      >
        Confirm
      </button>
    </div>
  </div>
</main>

{{> footer }}

<div
  class='modal fade'
  id='exampleModal'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
  data-bs-backdrop='static'
  data-bs-keyboard='false'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div
        class='modal-header bg-primary text-light d-flex justify-content-center align-items-center'
      >
        <h1 class='modal-title fs-5' id='exampleModalLabel'>Alert</h1>
        <!-- <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button> -->
      </div>
      <div class='modal-body text-center fs-5'>
        Your payment is successful
      </div>
      <div
        class='modal-footer d-flex justify-content-center align-items-center'
      >
        <button
          type='button'
          class='btn btn-primary'
          style='margin-right: 50px'
        >
          Home
        </button>
        <button type='button' class='btn btn-primary'>Prind PDF</button>
      </div>
    </div>
  </div>
</div>

<style>
  .quarter-width { width: 25%; } .none-list-style-type { list-style-type: none;
  } .disc-list-style-type { list-style-type: disc; } .container { width: 80%; }
</style>