{{> header }}

<main class='container'>
  <nav aria-label='breadcrumb' class='bg-light rounded p-3'>
    <ol class='breadcrumb mb-0'>
      <li class='breadcrumb-item pb-0'><a href='#'>Home</a></li>
      <li class='breadcrumb-item pb-0'><a href='#'>Bus Ticket</a></li>
      <li class='breadcrumb-item active' aria-current='page'>Fill in booking form</li>
    </ol>
  </nav>
  <div class='mt-5 mb-5 card bg-light' style='height: 150px'>
    <div class='card-body d-flex justify-content-center align-items-center'>
      <h3>Fill in booking form</h3>
    </div>
  </div>

  <div>
    <form>
      <div class='form-group row mb-4'>
        <label for='inputFullName' class='col-sm-2 col-form-label'>Name</label>
        <div class='col-sm-10 d-flex'>
          <input required type='text' class='form-control' id='inputFullName' placeholder='Full Name' />
        </div>
      </div>
      <hr class='my-4' />
      <div class='form-group row mb-4'>
        <label for='disabledEmail' class='col-sm-2 col-form-label'>Email</label>
        <div class='col-sm-10'>
          <input readonly type='text' class='form-control bg-secondary text-light' id='disabledEmail'
            value='example@gmail.com' />
        </div>
      </div>
      <hr class='my-4' />
      <div class='form-group row mb-4'>
        <label for='inputPhone' class='col-sm-2 col-form-label'>Phone</label>
        <div class='col-sm-10'>
          <input required type='text' class='form-control' id='inputPhone' placeholder='Phone Number'
            pattern='(84|0[3|5|7|8|9])+([0-9]{8})\b' />
        </div>
      </div>
      <hr class='my-4' />
      <div class='form-group row'>
        <label for='disabledStartTime' class='col-sm-2 col-form-label'>Start
          Time</label>
        <div class='col-sm-10'>
          <input type='text' readonly class='form-control bg-secondary text-light' id='disabledStartTime'
            value='February 11th, 2022 15:00' />
        </div>
      </div>
      <hr class='my-4' />
      <div class='form-group row'>
        <label for='disabledEndTime' class='col-sm-2 col-form-label'>End Time</label>
        <div class='col-sm-10'>
          <input type='text' readonly class='form-control bg-secondary text-light' id='disabledEndTime'
            value='February 11th, 2022 20:00' />
        </div>
      </div>
      <hr class='my-4' />
      <div class='form-group row'>
        <label for='destination' class='col-sm-2 col-form-label'>Destination</label>
        <div class='col-sm-10'>
          <input type='text' readonly class='form-control bg-secondary text-light' id='destination' value='Hà Nội' />
        </div>
      </div>
      <hr class='my-4' />
      <div class='form-group row mb-4'>
        <label for='inputNumberOfSeat' class='col-sm-2 col-form-label'>Number Of
          Seats</label>
        <div class='col-sm-10'>
          <input required type='text' class='form-control' id='inputNumberOfSeat' placeholder='Number of seats'
            pattern='^\d+$' />
        </div>
      </div>
      <hr class='my-4' />
      <div class='mt-5 d-flex justify-content-center align-items-center'>
        <button type='button' class='btn btn-primary py-3 px-4' style='margin-right: 300px;width: 110px'>
          Cancel
        </button>
        <button type='submit' class='btn btn-primary py-3 px-4' style='width: 110px'>
          Submit
        </button>
      </div>
    </form>
  </div>
</main>

{{> footer }}

<style>
  .container {
    width: 80%;
  }
</style>