{{> header }}
<div class='container'>
  <div class='history-list'>
    {{> breadcrumb}}
    <div class='h1 text-center'>Vexere history</div>
    <div id="hList" class="">
      <div class="table-responsive">
        <table id="history-list" class='table table-striped mt-5'>

          {{!-- <tr>
            <th scope='row'>1</th>
            <td>12c</td>
            <td>Phương Trang</td>
            <td>Miền Nam bus stop</td>
            <td>Miền Tây bus stop</td>
            <td>12/1/2022 16:00</td>
            <td>13/11/2022 15:00</td>
            <td>View</td>
          </tr>
          <tr>
            <th scope='row'>2</th>
            <td>12c</td>
            <td>Phương Trang</td>
            <td>Miền Nam bus stop</td>
            <td>Miền Tây bus stop</td>
            <td>12/1/2022 16:00</td>
            <td>13/11/2022 15:00</td>
            <td>View</td>
          </tr>
          <tr>
            <th scope='row'>3</th>
            <td>12c</td>
            <td>Phương Trang</td>
            <td>Miền Nam bus stop</td>
            <td>Miền Tây bus stop</td>
            <td>12/1/2022 16:00</td>
            <td>13/11/2022 15:00</td>
            <td>View</td>
          </tr> --}}
        </table>
      </div>
      <div class='d-grid gap-2 col-3 mx-auto'>
        <a class='btn btn-outline-primary float-center' id="load-more" onclick="loadMore()">Load more</a>
      </div>
    </div>
  </div>

  <!-- View detail đang ẩn -->

  <div class='detail d-none' id="detail">
    {{!-- <table class='table table-hover table-striped'>
      <tbody>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>Ticker id</th>
          <td class='quarter-width align-middle'>
            12ab
          </td>
          <th class='quarter-width align-middle'>Bus operator</th>
          <td class='quarter-width align-middle'>Phương Trang</td>
        </tr>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>Start point</th>
          <td class='quarter-width align-middle'>Miền Nam bus stop</td>
          <th class='quarter-width align-middle'>End point</th>
          <td class='quarter-width align-middle'>Miền Hoa bus stop</td>
        </tr>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>Start time</th>
          <td class='quarter-width align-middle'>
            February 11th, 2022 15:00
          </td>
          <th class='quarter-width align-middle'>End time</th>
          <td class='quarter-width align-middle'>
            February 11th, 2022 20:00
          </td>
        </tr>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>Duration</th>
          <td class='quarter-width align-middle'>5 hours</td>
          <th class='quarter-width align-middle'>Policy</th>
          <td class='quarter-width align-middle'>
            <ul class='none-list-style-type ps-0'>
              <li>
                WHILE ON BOARD
                <ul class='disc-list-style-type'>
                  <li>Holding your ticket</li>
                  <li>Be silent</li>
                </ul>
              </li>
              <li>
                YOUR PACKAGE
                <ul class='disc-list-style-type'>
                  <li>Not over 10kg</li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>Ticket cost</th>
          <td class='quarter-width align-middle'>50k vnđ</td>
          <th class='quarter-width align-middle'>Type of bus</th>
          <td class='quarter-width align-middle'>Vilahouse</td>
        </tr>
        <tr style='min-height: 50px'>
          <th class='quarter-width align-middle'>Status</th>
          <td class='quarter-width align-middle'>Booked</td>
          <th class='quarter-width align-middle'>Seat positions</th>
          <td class='quarter-width align-middle'>
            E10
          </td>
        </tr>
      </tbody>
    </table> --}}
    <div class='mt-5 row justify-content-center align-items-center'>
      <button type='button' class='col-md-3 col-6 btn btn-primary py-3 px-4 my-4' onclick="backToList()">
        Back
      </button>
      <button type='button' class='col-md-3 col-6 btn btn-primary py-3 px-4 mx-4 d-none' id = "discard" tid="">
        Discard ticket
      </button>
    </div>
  </div>
</div>
{{> footer }}
<script src="./js/history.js"></script>
<style>
  .container {
    width: 80%;
  }
</style>