<div class='containter'>
  <header>
    <div class='container d-flex flex-wrap justify-content-center py-3' >
      <a
        href='/'
        class='d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none'
      >
        <span class='fs-2'>Vexere</span>
      </a>

      <div class='dropdown d-flex align-items-center' id = "right-side-header">
        <button
          type='button'
          class='btn btn-primary'
          data-bs-toggle='modal'
          data-bs-target='#loginModal'
          id="loginBtn"
        >
          Login
        </button>
      </div>
    </div>
  </header>
  <div
    class='bg-image position-relative'
    style="
          background: url('https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
          background-size: cover;
          background-repeat: no-repeat;
          height: 90vh;
        "
  >
    <main class='w-100 position-absolute top-50 start-50 translate-middle'>
      <h1
        class='display-1 text-center py-3 text-primary'
        style='text-shadow: rgb(91 89 119) 1px 1px; color: white !important; font-weight: 700; width: 900px; margin: 0 auto; font-size: 60px'
      >
        Reach For The Travel Easier And More Enjoyable
      </h1>
      <div class='card container p-2 w-50'>
        {{> search}}
      </div>
    </main>
  </div>
</div>

<!--Login Modal-->
<div
  class='modal fade'
  id='loginModal'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class='modal-body'>
        <form>
          <div class='form-group row py-2'>
            <label
              for='inputEmail'
              class='col-sm-2 col-form-label'
            >Email</label>
            <div class='col-sm-10'>
              <input type='email' class='form-control' id='inputEmail' />
            </div>
          </div>
          <div class='form-group row py-2'>
            <label
              for='inputPassword'
              class='col-sm-2 col-form-label'
            >Password</label>
            <div class='col-sm-10'>
              <input type='password' class='form-control' id='inputPassword' />
            </div>
          </div>
        </form>
      </div>

      <div class='modal-footer d-flex justify-content-center flex-column'>
        <button type='button' class='btn btn-primary' id="btnContinueLogin">Continue</button>
        <div class='register'>
          <i>Haven't got an account?</i>
          <b data-bs-toggle='modal' data-bs-target='#registerModal' id="regiterLink">Register</b>
        </div>
        <div class='restore'>
          <i>Forgot password?</i>
          <b data-bs-toggle='modal' data-bs-target='#restoreModal' id="restoreLink">Restore</b>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Register Modal-->
<div
  class='modal fade'
  id='registerModal'
  tabindex='-1'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
        <h5 class="modal-title">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class='modal-body'>
        <form>
          <div class='form-group row py-2'>
            <label
              for='inputEmailRegister'
              class='col-sm-3 col-form-label'
            >Email</label>
            <div class='col-sm-9'>
              <input
                type='email'
                class='form-control'
                id='inputEmailRegister'
              />
            </div>
          </div>
          <div class='form-group row py-2'>
            <label
              for='inputPasswordRegister'
              class='col-sm-3 col-form-label'
            >Password</label>
            <div class='col-sm-9'>
              <input
                type='password'
                class='form-control'
                id='inputPasswordRegister'
              />
            </div>
          </div>
          <div class='form-group row py-2'>
            <label
              for='inputRePasswordRegister'
              class='col-sm-3 col-form-label'
            >Repassword</label>
            <div class='col-sm-9'>
              <input
                type='password'
                class='form-control'
                id='inputRePasswordRegister'
              />
            </div>
          </div>
        </form>
      </div>
      <div class='modal-footer d-flex justify-content-center flex-column'>
        <button
          type='button'
          class='btn btn-primary'
          id="btnContinueRegister"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
</div>



<!--Enter email to restore account-->
<div
  class='modal fade'
  id='restoreModal'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
        <h5 class="modal-title">Restore password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class='modal-body'>
        <form>
          <div class='form-group row py-2'>
            <label for='inputEmailRestore' class='col-sm-3 col-form-label'>
              Enter email</label>
            <div class='col-sm-9'>
              <input
                type='email'
                class='form-control'
                id='inputEmailRestore'
              />
            </div>
          </div>
        </form>
      </div>
      <div class='modal-footer d-flex justify-content-center flex-column'>
        <button
          type='button'
          class='btn btn-primary'
          data-bs-toggle='modal'
          data-bs-target='#enterEmail'
        >
          Continue
        </button>
      </div>
    </div>
  </div>
</div>

<!--New password restore Modal-->
<div
  class='modal fade'
  id='enterEmail'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
        <h5 class="modal-title">Restore password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class='modal-body'>
        <form>
          <div class='form-group row py-2'>
            <label for='inputPasswordRestore' class='col-sm-4 col-form-label'>
              New password</label>
            <div class='col-sm-8'>
              <input
                type='password'
                class='form-control'
                id='inputPasswordRestore'
              />
            </div>
          </div>
          <div class='form-group row py-2'>
            <label
              for='inputRePasswordRestore'
              class='col-sm-4 col-form-label'
            >Re-enter password</label>
            <div class='col-sm-8'>
              <input
                type='password'
                class='form-control'
                id='inputRePasswordRestore'
              />
            </div>
          </div>
        </form>
      </div>
      <div class='modal-footer d-flex justify-content-center flex-column'>
        <button
          type='button'
          class='btn btn-primary'
          id = "btnContinueReset"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
</div>

<!--Enter otp code-->
<div
  class='modal fade'
  id='otpModal'
  tabindex='-1'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
        <h5 class="modal-title">Enter OTP</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class='modal-body'>
        <form>
          <div class='form-group row py-2'>
            <label
              for='inputOTP'
              class='col-sm-3 col-form-label'
            >OTP code</label>
            <div class='col-sm-9'>
              <input
                {{!-- type='email' --}}
                class='form-control'
                id='inputOTP'
              />
            </div>
          </div>
        </form>
      </div>
      <div class='modal-footer d-flex justify-content-center flex-column'>
        <button
          type='button'
          class='btn btn-primary'
          id="btnContinueOtp"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
<script src='./js/homepage.js'></script>