<div class='containter'>
  {{>header}}
  <!--BAO DID THIS NO NEED TO DO-->
  <div
    class='bg-image position-relative'
    style="
          background: url('https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
          background-size: cover;
          background-repeat: no-repeat;
          height: 90vh;
        "
  >
    <main class='w-100 position-absolute top-50 start-50 translate-middle'>
      <h1
        class='display-1 text-center py-3 text-primary'
        style='text-shadow: rgb(91 89 119) 1px 1px; color: white !important; font-weight: 700; width: 900px; margin: 0 auto; font-size: 60px'
      >
        Reach For The Travel Easier And More Enjoyable
      </h1>
      <div class='card container p-2 w-50'>
        {{> search}}
      </div>
    </main>
  </div>
</div>




