<nav aria-label='breadcrumb' class='bg-light rounded p-3'>
  <ol id="breadcrumb-container" class='breadcrumb mb-0'>
    <li class='breadcrumb-item pb-0'><a href='/'>Home</a></li>
    <li class='breadcrumb-item active' aria-current='page'>Bus ticket</li>
  </ol>
</nav>