<header class="mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center py-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <!-- <svg class="bi" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg> -->
      <span class="fs-2">Vexere</span>
    </a>

    <div class="dropdown d-flex align-items-center" id="right-side-header">
      <!-- <ul class="nav nav-pills">
            <li class="nav-item">
              <a href="#" class="nav-link active" aria-current="page">Home</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
          </ul> -->
      <!-- <button type="button" class="btn btn-primary">Login</button> -->

      <span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
        style="margin-left: 5px">
        <i class="fa-solid fa-circle-user fs-1 text-black-50"></i></span>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/history" id="goToHistory">History</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li><a class="dropdown-item" href="/" id="logOutBtn">Logout</a></li>
      </ul>
    </div>
  </div>
</header>

<script src="/js/header.js"></script>