<div class='row p-2'>
  <div class='col d-flex'>
    <i class='fa-solid fa-location-dot flex-fill p-2 fa-2x me-2'></i>

    <select class='custom-select form-control flex-fill p-'>
      <option selected>Open this select menu</option>
      <option value='1'>Đồng Nai</option>
      <option value='2'>Two</option>
      <option value='3'>Three</option>
    </select>
  </div>
  <div class='col d-flex'>
    <i class='fa-solid fa-location-dot flex-fill p-2 fa-2x me-2'></i>
    <select class='custom-select form-control flex-fill p-'>
      <option selected>Open this select menu</option>
      <option value='1'>Hồ Chí Minh</option>
      <option value='2'>Two</option>
      <option value='3'>Three</option>
    </select>
  </div>
</div>
<div class='row p-2'>
  <div class='col w-100 d-flex'>
    <i class='fa-regular fa-calendar-days flex-fill p-2 fa-2x me-2'></i>
    <input
      type='text'
      placeholder='Departure Date'
      class='form-control flex-fill p-2'
      id='datepicker'
    />
  </div>
</div>
<button type='submit' class='btn btn-primary p-2 mx-auto'>
  Search
</button>

<script>
  $(document).ready(function(){ $( "#datepicker" ).datepicker(); })
</script>